$primary: #6200ea;
$secondary: #FF8300;
$grey: #5D5D5D;

$font-normal: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


.moto-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-5 {
    margin-left: 5px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-200 {
    padding-top: 200px;
}

.profile-border,
.mt-border {
    border-top: 3px solid $primary;
}

.text-default {
    color: $grey;
}

.text-meta {
    color: #999;
}

.text-capital {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: #fff;
}

.color-secondary {
    color: $secondary !important;
}

.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}

.label-success {
    background-color: #5cb85c;
}

img {
    width: 100%;
}

.image-circle {
    border-radius: 50%;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button {
    &:focus {
        outline: none !important;
    }
}

.btn-attach {
    width: 100%;
    border-radius: 0;
    background-color: #eee;
    color: $grey;
}


/* Style the tab */
div.profile-tab {
    overflow: hidden;
    border: 0;
    background-color: $primary;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px;
        transition: 0.5s;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        position: relative;
        text-transform: uppercase;

        &:hover {
            background: rgba(255,255,255,0.08);
        }

        &.active {
            background: rgba(255,255,255,0.2);
        }

        &.active::after {
            color: transparent;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            margin: auto;
            border-bottom: 7px solid #fff;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            width: 0;
        }
    }
}

/* Style the tab content */
.tabcontent,
.tab-subcontent {
    display: none;
    padding: 15px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab-with-intro {
    padding-left: 0 !important;
    min-width: 200px;
    text-align: left;

    > span {
        display: block;
    }

    .tab-title {
        font-size: 1em;
        font-family: $font-normal;
    }

    .tab-intro {
        font-size: 0.8em;
        font-family: Raleway;
        font-weight: normal;
        color: $grey;
        text-transform: none;
    }
}

.side-pd-none {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.tb-pd-none {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .item {
        display: list-item;
        table-layout: fixed;
        list-style-type: none;
        list-style-position: outside;
        padding: 0;
        line-height: 1.2em;
        margin: 0;
        padding: 10px 0;

        i {
            display: table-cell;
            margin: 0em;
            padding-top: 0.07142857em;
            padding-right: 0.28571429em;
            vertical-align: top;
            -webkit-transition: color 0.1s ease;
            transition: color 0.1s ease;
        }

        img {
            display: inline-block;
            width: 2em;
            height: 2em;
            border-radius: 500rem;
        }

        .content {
            display: table-cell;
            padding: 0em 0em 0em 0.5em;
            vertical-align: top;

            .text-meta {
                margin-top: 5px;
                font-size: 0.9em;
                font-style: italic;
            }
        }

        img.avatar+.content {
            display: inline-block;
        }
    }
}

.list.divided {
    .item:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
}

hr {
    margin: 0;
}

.progress {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    background-color: #eceeef;
    border-radius: 0;
}

.progress-bar {
    height: 1rem;
    color: #fff;
    background-color: #0275d8;
}

.bg-success {
    background-color: #5cb85c!important;
}

.bg-info {
    background-color: #5bc0de!important;
}

.bg-warning {
    background-color: #f0ad4e!important;
}

.bg-danger {
    background-color: #d9534f!important;
}

// footer style goes here

.footerCopy {
    background: $grey;
    padding: 40px 0 20px;

    p.copyright {
        color: #eee;
        font-weight: normal;
    }

    .footer ul a {
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: $secondary;
        }
    }

    .footer ul {
        margin-bottom: 25px;
    }
}

// header navbar style goes here

.navbar {
    z-index: 100;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-nav {
        .active > .nav-link {
            color: $secondary !important;
        }

        li a.nav-link:hover {
            color: $secondary !important;
        }
    }
}

.navbar-moto {
    &__primary {
        height: 50px;
        background-color: $primary;

        &.resize {
            height: 50px !important;

            li.nav-item {
                a {
                    color: #fff !important;
                }
            }
        }

        .navbar-nav {
            margin: 0;
        }

        li.nav-item {
            margin: 0;
            padding: 0;
            width: 50px;
            height: 50px;
            vertical-align: middle;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
            transition: all 0.4s ease-in-out 0s;

            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__secondary {
        position: fixed;
        top: 50px;
        width: 100%;
        left: 0;
        border-radius: 0;
        box-shadow: 0 4px 2px -2px #eee !important;
        background-color: #fff;

        img.navbar-brand {
            max-width: 200px;
            max-height: 52px;
        }

        .logo-default {
            display: block;
        }

        .logo-resize {
            display: none;
        }

        &.resize {
            .logo-default {
                display: none;
            }

            .logo-resize {
                display: block;
                max-width: 160px;
            }

            ul.navbar-nav {
                margin: 10px 0;
            }
        }
    }

    &__animate {
        .logo-default {
            display: block;
        }

        .logo-resize {
            display: none;
        }

        &.resize {
            .logo-default {
                display: none;
            }

            .logo-resize {
                display: block;
                max-width: 160px;
            }

            .navbar-nav {
                margin-top: 10px;
            }
        }
    }
}

.resize.navbar {
    background-color: $primary;

    .navbar-nav li:not(.active) a.nav-link:not(:hover) {
        color: #fff !important;
    }
}

#scroll-top {
    border: 3px solid $primary;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.navbar {
    .navbar-toggler {
        padding: 0;
        margin: 0;
        width: 46px;
        height: 46px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        border: 0;
        border-radius: 0;
        color: #fff;
        background: transparent;
        font-size: 30px;
        cursor: pointer;
    }
}

body {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: $primary;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: $secondary;
}

.sidenav .closebtn {

}

#home {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#mt_sidenav {
    a {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &::before {
            background: rgba(255,255,255,0.08);
        }

        i, span {
            display: block;
        }

        i {
            font-size: 40px;
        }

        span {
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}


.statistic {
    display: block;
    position: relative;
    vertical-align: middle;
    padding: 10px 0;

    .value {
        display: inline-block;
        color: #333;
        vertical-align: middle;
    }

    .unit {
        display: inline-block;
        color: $grey;
        vertical-align: middle;
    }

    &.large {
        .value {
            font-size: 2em;
            font-weight: bold;
        }
        .unit {
            font-size: 1em;
            font-weight: bold;
            margin-left: 10px;
        }
    }

    &.value-large {
        .value {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.vt-center {
    vertical-align: middle;
}

.ribbon {
    text-align: left;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    color: #fff;
    position: relative;
    display: inline-block;
    transition: background .1s ease;
    padding-top: .8em;
    padding-bottom: .8em;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
    background-color: $secondary;
    border-color: rgba(255, 131, 00, 0.5);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;

    &:hover,
    &:focus {
        color: #fff;
    }

    &::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        background-color: transparent !important;
        border-style: solid;
        border-width: 0 1.2em 1.2em 0;
        border-color: transparent;
        border-right-color: inherit;
        width: 0;
        height: 0;
    }

    &.right {
        left: calc(100% + 1rem + 1.2em);
        padding-left: 1.2em;
        padding-right: calc(1rem + 1.2em);

        &::after {
            left: auto;
            right: 0;
            border-style: solid;
            border-width: 1.2em 1.2em 0 0;
            border-color: transparent;
            border-top-color: inherit;
        }
    }
}

.mt-card {
    .table {
        td, th {
            vertical-align: middle;
        }
    }
}

.btn-view {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #fff;
    border: 0;
    background: $primary;
    -webkit-appearance: initial !important;
    box-shadow: 2px 2px 4px 0px #d4d4d5;
    height: 30px;
    width: 70px;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
    transition: all 0.4s ease-in-out 0s;

    &:hover, &:focus {
        color: $secondary;
    }
}

.success {
    color: #5cb85c;
}

.normal {
    color: $primary;
}

.danger {
    color: #d9534f;
}

.btn-remove {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #fff;
    border: 0;
    background: $secondary;
    -webkit-appearance: initial !important;
    box-shadow: 2px 2px 4px 0px #d4d4d5;
    height: 30px;
    width: 70px;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
    transition: all 0.4s ease-in-out 0s;

    &:hover, &:focus {
        color: $primary;
    }
}

input.input-primary {
    border-radius: 0;
    border: 1px solid rgba(93, 93, 93, .3);
    padding: 5px;

    &:focus {
        outline: none;
    }
}

button.btn {
    border-radius: 0;
    transition: all 0.4s ease-in-out 0s;
}

.btn-pending {
    background-color: $secondary;
    color: #fff;

    &:hover {
        background-color: #da7912;
    }
}

.btn-groups {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 0;
    vertical-align: baseline;
    margin: 0 .25em 0 0;

    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .btn {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 0;
        border-radius: 0;
        margin: 0;
        box-shadow: 2px 2px 4px 0px #d4d4d5;
        font-weight: bold;
    }

    .or {
        position: relative;
        width: .3em;
        height: 2.57142857em;
        z-index: 3;
        font-size: 1rem;

        &::before {
            position: absolute;
            text-align: center;
            border-radius: 500rem;
            content: 'or';
            top: 50%;
            left: 50%;
            background-color: #fff;
            text-shadow: none;
            margin-top: -.89285714em;
            margin-left: -.89285714em;
            width: 1.78571429em;
            height: 1.78571429em;
            line-height: 1.78571429em;
            color: rgba(0,0,0,.4);
            font-style: normal;
            font-weight: 700;
            box-shadow: 0 0 0 1px transparent inset;
        }
    }
}

.display-block {
    display: block;
    widows: 100%;
    position: relative;
}

.list {
    .item-group {
        padding: 8px 0px;

        i.icon {
            margin-right: 8px;
        }
    }

    .item-group:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}


.ribbon.ribbon-inline {
    position: absolute;
    right: -1.2em;
    left: inherit;
    z-index: 8;
    -webkit-transform: inherit;
            transform: inherit;
}

.card-primary {
    background-color: $grey;
}


.bg-white {
    background-color: #fff;
}

.static-list {
    list-style-type: none;

    .item-group {
        display: block;
        padding: 0;
        cursor: pointer;

        &::before {
            content: '';
            height: 15px;
            display: block;
            clear: both;
            background-color: rgba(0, 0, 0, 0.1);
        }

        span.number {
            padding: 0;
            margin: 0;
            width: 3em;
            height: 3em;
            font-size: 1em;
            vertical-align: middle;
            text-align: center;
            line-height: 3em;
            color: #fff;
            font-weight: bold;
            display: block;
            float: left;
            background-color: $secondary;
        }

        span.item-content {
            display: block;
            float: left;
            position: relative;
            width: calc(100% - 6em);
            font-size: 1em;
            line-height: 1.5em;
            background-color: $grey;
            color: #fff;
            font-family: $font-normal;
            padding: 0 5px;

            span {
                font-size: 0.9em;
            }
        }

        img {
            display: block;
            float: left;
            width: 3em;
            height: 3em;
        }
    }

    .item-group:last-child {
        &::after {
            content: '';
            height: 20px;
            display: block;
            clear: both;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

