.mt-card {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px #d4d4d5; }
  .mt-card__image {
    display: block;
    position: relative;
    width: 100%; }
    .mt-card__image img {
      width: 100%;
      z-index: 3;
      -webkit-transition: all .4s ease-in-out 0s;
      -moz-transition: all .4s ease-in-out 0s;
      -o-transition: all .4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
    .mt-card__image .img-overlay {
      transition: all 0.4s ease-in-out 0s;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      text-align: center;
      background-color: rgba(123, 50, 223, 0.85);
      padding: 50px 0; }
      .mt-card__image .img-overlay .animation {
        position: relative;
        top: 40%;
        -webkit-transition: all .4s ease-in-out 0s;
        -moz-transition: all .4s ease-in-out 0s;
        -o-transition: all .4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        transform: scale(0.2);
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -o-transform: scale(0.2); }
    .mt-card__image .btn-change-image {
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      border-radius: 0;
      position: relative; }
      .mt-card__image .btn-change-image:hover {
        background: #fff;
        color: #6200ea;
        -webkit-transition: background .8s;
        transition: background .8s; }
    .mt-card__image:hover .img-overlay {
      opacity: 1; }
      .mt-card__image:hover .img-overlay .animation {
        top: 40%;
        position: relative;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1); }
  .mt-card__title {
    padding: 10px 15px;
    font-size: 1.3em;
    color: #333;
    font-weight: bold; }
  .mt-card__header {
    font-weight: bold;
    font-size: 1.3em;
    color: #333;
    margin-top: 10px;
    line-height: 1.3em; }
  .mt-card__subheader {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    color: #5D5D5D;
    margin-top: 10px; }
  .mt-card__description {
    font-size: 1em;
    font-weight: normal;
    white-space: normal;
    line-height: 1.2em;
    color: #999;
    margin-top: 10px; }
  .mt-card__description {
    font-size: 1em;
    font-weight: bold;
    white-space: normal;
    line-height: 1.2em;
    color: #555;
    margin-top: 10px; }
  .mt-card__content {
    padding: 15px;
    position: relative; }
    .mt-card__content .friend-image {
      margin-top: 15px; }
    .mt-card__content .item .icon-status {
      font-size: 1.5em;
      display: table-cell;
      width: 25px;
      height: 25px;
      padding: 0;
      margin: 0;
      background-color: #eee;
      vertical-align: middle;
      text-align: center;
      line-height: 25px;
      border-radius: 3px; }
  .mt-card__heading {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #FF8300;
    margin-top: 10px; }
    .mt-card__heading span {
      vertical-align: middle;
      font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-weight: bold; }
    .mt-card__heading i {
      margin-right: 5px;
      font-size: 1.4em;
      vertical-align: middle; }
  .mt-card__extra-content {
    padding: 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }

.list-progress .item {
  padding-top: 0px;
  padding-bottom: 0px; }

.friend-image {
  display: block;
  position: relative; }
  .friend-image__wrapper {
    position: relative; }
  .friend-image img {
    width: 100%;
    z-index: 3;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
  .friend-image .img-overlay {
    transition: all 0.4s ease-in-out 0s;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    text-align: center;
    background-color: rgba(123, 50, 223, 0.85);
    padding: 50px 0;
    border-radius: 50%; }
    .friend-image .img-overlay .animation {
      position: relative;
      top: 40%;
      -webkit-transition: all .4s ease-in-out 0s;
      -moz-transition: all .4s ease-in-out 0s;
      -o-transition: all .4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      transform: scale(0.2);
      -webkit-transform: scale(0.2);
      -moz-transform: scale(0.2);
      -o-transform: scale(0.2); }
  .friend-image .btn-change-image {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    position: relative; }
    .friend-image .btn-change-image:hover {
      background: #fff;
      color: #6200ea;
      -webkit-transition: background 1s;
      transition: background 1s; }
  .friend-image:hover .img-overlay {
    opacity: 1; }
    .friend-image:hover .img-overlay .animation {
      top: 40%;
      position: relative;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1); }

td.rating .ion-android-star {
  color: #FF8300; }

td.status {
  text-align: center; }
  td.status .ion-flag {
    font-size: 1.2em;
    color: #FF8300; }

.race-dropdown button {
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: transparent !important; }
  .race-dropdown button:hover, .race-dropdown button:focus, .race-dropdown button:active {
    background-color: transparent !important; }

.race-dropdown.open > .dropdown-menu {
  border-radius: 0; }

.race-dropdown .dropdown-item {
  color: #5D5D5D; }

thead.mt-thead tr th {
  background-color: #eee; }

.inline-tab {
  overflow: hidden; }
  .inline-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    transition: 0.3s;
    font-size: 1em;
    font-family: Raleway;
    font-weight: bold; }

.inline-tab {
  position: relative;
  z-index: 5; }
  .inline-tab::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(93, 93, 93, 0.3);
    visibility: visible; }
  .inline-tab button {
    position: relative;
    text-decoration: none; }
    .inline-tab button:hover {
      color: #6200ea; }
    .inline-tab button::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #6200ea;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .inline-tab button:hover::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .inline-tab button.active {
      color: #6200ea; }
    .inline-tab button.active::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #6200ea;
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.results__content {
  position: relative; }
  .results__content .ribbon {
    position: absolute;
    right: -1.2em;
    left: inherit;
    z-index: 8;
    -webkit-transform: inherit;
    transform: inherit; }
  .results__content .tabcontent {
    padding: 0; }

.score-display {
  position: relative;
  display: block;
  width: 100%;
  text-align: center; }
  .score-display .score-value {
    font-size: 5em;
    font-weight: normal;
    color: #6200ea;
    line-height: 1em;
    font-family: sans-serif; }
  .score-display .score-label {
    font-size: 1.5em;
    font-weight: bold;
    color: #5D5D5D;
    text-transform: uppercase; }

.table-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 10px 0px; }

.border-wrapper {
  border: 1px solid rgba(93, 93, 93, 0.3); }

.table-search-input .input-group-btn button {
  border-left: 0;
  border-color: rgba(0, 0, 0, 0.15); }
  .table-search-input .input-group-btn button:hover, .table-search-input .input-group-btn button:focus {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.15);
    border-left: 0; }

.table-search-input input {
  border-right: 0; }
  .table-search-input input:hover, .table-search-input input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.15); }

.table-search-input.input-group {
  width: 50%; }

.icon.ion-cube {
  font-size: 1.2em; }

.list .item span.status + .content {
  display: inline-block; }

.moto-table thead tr {
  background-color: rgba(93, 93, 93, 0.4); }
  .moto-table thead tr th {
    color: #555;
    font-weight: bold;
    text-align: center; }

.moto-table tbody th {
  background-color: rgba(93, 93, 93, 0.2);
  color: #5D5D5D;
  font-weight: bold;
  text-align: left; }

.moto-table tbody td {
  font-weight: bold;
  text-align: center; }

.moto-table tbody tr {
  transition: all 0.2s ease-in-out 0s; }

.moto-table tbody tr:hover {
  background-color: rgba(98, 93, 93, 0.2) !important; }

.moto-table.stripe > tbody > tr:nth-of-type(odd):not(.moto-table__total) {
  background-color: rgba(98, 0, 234, 0.1); }

.moto-table .total th {
  text-align: right; }

.moto-table .total td {
  color: #FF8300;
  font-size: 1em; }

.moto-play-card {
  padding: 15px;
  box-shadow: 0px 0px 3px 1px #d4d4d5;
  max-width: 330px;
  border-radius: 3px; }
  .moto-play-card .logo {
    color: #fff;
    text-align: center;
    font-family: Raleway;
    margin-bottom: 20px;
    font-weight: bold; }
  .moto-play-card .signup-free {
    font-size: 0.8em;
    color: #eee;
    font-family: Raleway; }
  .moto-play-card .btn-attach {
    background-color: #FF8300;
    color: #fff;
    margin-top: 10px;
    border-radius: 2px;
    padding: 7px;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase; }
  .moto-play-card .btn-transparent {
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 0.9em;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    transition: all 0.4s ease-in-out 0s; }
    .moto-play-card .btn-transparent:hover {
      border-color: #FF8300;
      color: #FF8300; }
  .moto-play-card__head {
    margin-top: -15px;
    padding: 5px 0; }
  .moto-play-card__footer {
    margin-bottom: -15px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .moto-play-card .full-width {
    margin-left: -15px;
    margin-right: -15px; }

.table-contests .col-contests {
  min-width: 400px;
  text-align: left; }
  .table-contests .col-contests__mark {
    display: inline-block;
    vertical-align: middle; }
  .table-contests .col-contests__cont {
    color: rgba(98, 0, 234, 0.7); }
    .table-contests .col-contests__cont i.ion-android-bookmark {
      font-size: 2em;
      color: rgba(98, 0, 234, 0.5);
      margin-right: 7px; }

.table-contests i.icon {
  vertical-align: middle; }

.table-contests .color-odd {
  color: rgba(98, 0, 234, 0.7); }

.table-contests thead tr th {
  font-size: 0.9em; }
  .table-contests thead tr th .intro {
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
    margin-left: 10px; }
    .table-contests thead tr th .intro i.ion-record {
      font-size: 0.8em;
      vertical-align: middle; }

.table-contests tbody tr td {
  padding: 0 0.75em;
  color: #5D5D5D; }
  .table-contests tbody tr td .ion-record {
    font-size: 0.5em;
    vertical-align: middle;
    line-height: 1em;
    display: block;
    margin-right: 7px; }
  .table-contests tbody tr td button {
    width: 100%; }

table .icon-status {
  font-size: 1.5em; }

table td .btn {
  width: 100%;
  text-transform: uppercase; }

.table-play thead tr {
  background-color: rgba(93, 93, 93, 0.2); }
  .table-play thead tr th {
    font-size: 0.9em;
    color: #555;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }

.table-play tbody tr td {
  padding: 0.2em 0.75em;
  color: #5D5D5D;
  font-weight: bold;
  text-align: center;
  vertical-align: middle; }
  .table-play tbody tr td.color-odd {
    color: rgba(98, 0, 234, 0.7); }
  .table-play tbody tr td .btn-add {
    padding: 0.4rem 1rem;
    font-size: 0.9em;
    background-color: #fff; }

.table-play .col-position input {
  max-width: 100px;
  padding: 3px;
  border-radius: 3px; }

.table-play tr.select-empty td {
  padding: 0.5em 0.75em; }

.btn-select-racer {
  font-weight: bold;
  color: #5D5D5D; }
  .btn-select-racer i {
    font-size: 1.2em;
    margin-right: 5px; }

.table-striped.table-play tbody tr td {
  padding: 0.75em; }

.table-striped.table-play thead th {
  cursor: pointer; }
  .table-striped.table-play thead th i {
    color: #aaa; }

.contests-action {
  display: block;
  position: relative;
  text-align: right;
  width: 100%;
  padding: 10px 0; }
  .contests-action > div {
    display: inline-block;
    vertical-align: middle; }
  .contests-action__group {
    margin-left: 20px; }
    .contests-action__group button {
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase; }
    .contests-action__group > div {
      line-height: 1em; }
    .contests-action__group #contests-started {
      font-size: 1.3em;
      font-weight: bold; }
    .contests-action__group .contests-mark {
      font-size: 2em; }
      .contests-action__group .contests-mark:first-child {
        color: rgba(98, 0, 234, 0.6);
        position: relative;
        left: 20px; }
      .contests-action__group .contests-mark:last-child {
        color: rgba(98, 0, 234, 0.3); }

.logo-wrapper {
  float: left;
  margin-top: 22px; }
  .logo-wrapper span {
    font-size: 1.3em;
    color: #333; }

.resize.navbar .logo-wrapper {
  margin-top: 10px; }

.mt-card__description .row {
  padding: 3px 0; }
  .mt-card__description .row .text-xs-right {
    font-size: 0.9em;
    color: #999; }
  .mt-card__description .row .text-xs-left {
    font-size: 1.05em; }

@media (max-width: 991px) {
  .navbar-moto__primary li.nav-item a {
    color: #fff !important; }
  .navbar-moto__animate .navbar-toggler {
    color: #333;
    transition: all 0.4s ease-in-out 0s;
    top: 12px; }
    .navbar-moto__animate .navbar-toggler:hover {
      color: #6200ea; }
  .navbar-moto__animate.resize .navbar-toggler {
    color: #333; }
    .navbar-moto__animate.resize .navbar-toggler:hover {
      color: #FF8300; } }

@media (max-width: 767px) {
  .table-wrapper .table-search-input {
    width: 100%; }
  .nav-top .navbar {
    top: 38px; }
  .nav-top .sub-navTop {
    height: 38px; }
  .moto-play-card {
    margin: auto; } }

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  display: none; }

table.dataTable thead th, table.dataTable thead td {
  border-bottom: 0; }

table.dataTable.no-footer {
  border-bottom: 0; }
