.moto-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-5 {
  margin-left: 5px; }

.pt-150 {
  padding-top: 150px; }

.pt-200 {
  padding-top: 200px; }

.profile-border,
.mt-border {
  border-top: 3px solid #6200ea; }

.text-default {
  color: #5D5D5D; }

.text-meta {
  color: #999; }

.text-capital {
  text-transform: uppercase; }

.text-bold {
  font-weight: bold; }

.color-secondary {
  color: #FF8300 !important; }

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0; }

.label-success {
  background-color: #5cb85c; }

img {
  width: 100%; }

.image-circle {
  border-radius: 50%; }

a:hover, a:focus {
  text-decoration: none; }

button:focus {
  outline: none !important; }

.btn-attach {
  width: 100%;
  border-radius: 0;
  background-color: #eee;
  color: #5D5D5D; }

/* Style the tab */
div.profile-tab {
  overflow: hidden;
  border: 0;
  background-color: #6200ea; }
  div.profile-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    transition: 0.5s;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    position: relative;
    text-transform: uppercase; }
    div.profile-tab button:hover {
      background: rgba(255, 255, 255, 0.08); }
    div.profile-tab button.active {
      background: rgba(255, 255, 255, 0.2); }
    div.profile-tab button.active::after {
      color: transparent;
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      margin: auto;
      border-bottom: 7px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      width: 0; }

/* Style the tab content */
.tabcontent,
.tab-subcontent {
  display: none;
  padding: 15px;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.side-pd-none {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.tb-pd-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    line-height: 1.2em;
    margin: 0;
    padding: 10px 0; }
    .list .item i {
      display: table-cell;
      margin: 0em;
      padding-top: 0.07142857em;
      padding-right: 0.28571429em;
      vertical-align: top;
      -webkit-transition: color 0.1s ease;
      transition: color 0.1s ease; }
    .list .item img {
      display: inline-block;
      width: 2em;
      height: 2em;
      border-radius: 500rem; }
    .list .item .content {
      display: table-cell;
      padding: 0em 0em 0em 0.5em;
      vertical-align: top; }
      .list .item .content .text-meta {
        margin-top: 5px;
        font-size: 0.9em;
        font-style: italic; }
    .list .item img.avatar + .content {
      display: inline-block; }

.list.divided .item:not(:last-child) {
  border-bottom: 1px solid #ddd; }

hr {
  margin: 0; }

.progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #eceeef;
  border-radius: 0; }

.progress-bar {
  height: 1rem;
  color: #fff;
  background-color: #0275d8; }

.bg-success {
  background-color: #5cb85c !important; }

.bg-info {
  background-color: #5bc0de !important; }

.bg-warning {
  background-color: #f0ad4e !important; }

.bg-danger {
  background-color: #d9534f !important; }

.footerCopy {
  background: #5D5D5D;
  padding: 40px 0 20px; }
  .footerCopy p.copyright {
    color: #eee;
    font-weight: normal; }
  .footerCopy .footer ul a {
    text-transform: uppercase;
    font-weight: bold; }
    .footerCopy .footer ul a:hover {
      color: #FF8300; }
  .footerCopy .footer ul {
    margin-bottom: 25px; }

.navbar {
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .navbar-nav .active > .nav-link {
    color: #FF8300 !important; }
  .navbar .navbar-nav li a.nav-link:hover {
    color: #FF8300 !important; }

.navbar-moto__primary {
  height: 50px;
  background-color: #6200ea; }
  .navbar-moto__primary.resize {
    height: 50px !important; }
    .navbar-moto__primary.resize li.nav-item a {
      color: #fff !important; }
  .navbar-moto__primary .navbar-nav {
    margin: 0; }
  .navbar-moto__primary li.nav-item {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transition: all 0.4s ease-in-out 0s; }
    .navbar-moto__primary li.nav-item:hover {
      background: rgba(255, 255, 255, 0.2); }

.navbar-moto__secondary {
  position: fixed;
  top: 50px;
  width: 100%;
  left: 0;
  border-radius: 0;
  box-shadow: 0 4px 2px -2px #eee !important;
  background-color: #fff; }
  .navbar-moto__secondary img.navbar-brand {
    max-width: 200px;
    max-height: 52px; }
  .navbar-moto__secondary .logo-default {
    display: block; }
  .navbar-moto__secondary .logo-resize {
    display: none; }
  .navbar-moto__secondary.resize .logo-default {
    display: none; }
  .navbar-moto__secondary.resize .logo-resize {
    display: block;
    max-width: 160px; }
  .navbar-moto__secondary.resize ul.navbar-nav {
    margin: 10px 0; }

.navbar-moto__animate .logo-default {
  display: block; }

.navbar-moto__animate .logo-resize {
  display: none; }

.navbar-moto__animate.resize .logo-default {
  display: none; }

.navbar-moto__animate.resize .logo-resize {
  display: block;
  max-width: 160px; }

.navbar-moto__animate.resize .navbar-nav {
  margin-top: 10px; }

.resize.navbar {
  background-color: #6200ea; }
  .resize.navbar .navbar-nav li:not(.active) a.nav-link:not(:hover) {
    color: #fff !important; }

#scroll-top {
  border: 3px solid #6200ea;
  width: 50px;
  height: 50px;
  line-height: 40px; }

.navbar .navbar-toggler {
  padding: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  border: 0;
  border-radius: 0;
  color: #fff;
  background: transparent;
  font-size: 30px;
  cursor: pointer; }

body {
  transition: background-color .5s; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #6200ea;
  overflow-x: hidden;
  transition: 0.5s; }

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s; }

.sidenav a:hover, .offcanvas a:focus {
  color: #FF8300; }

#home {
  transition: margin-left .5s; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

#mt_sidenav a {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  #mt_sidenav a::before {
    background: rgba(255, 255, 255, 0.08); }
  #mt_sidenav a i, #mt_sidenav a span {
    display: block; }
  #mt_sidenav a i {
    font-size: 40px; }
  #mt_sidenav a span {
    text-transform: uppercase;
    font-size: 18px; }

.statistic {
  display: block;
  position: relative;
  vertical-align: middle;
  padding: 10px 0; }
  .statistic .value {
    display: inline-block;
    color: #333;
    vertical-align: middle; }
  .statistic .unit {
    display: inline-block;
    color: #5D5D5D;
    vertical-align: middle; }
  .statistic.large .value {
    font-size: 2em;
    font-weight: bold; }
  .statistic.large .unit {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px; }
  .statistic.value-large .value {
    font-size: 1.5em;
    font-weight: bold; }

.vt-center {
  vertical-align: middle; }

.ribbon {
  text-align: left;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  color: #fff;
  position: relative;
  display: inline-block;
  transition: background .1s ease;
  padding-top: .8em;
  padding-bottom: .8em;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 1em;
  font-weight: bold;
  background-color: #FF8300;
  border-color: rgba(255, 131, 0, 0.5); }
  .ribbon:hover, .ribbon:focus {
    color: #fff; }
  .ribbon::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0; }
  .ribbon.right {
    left: calc(100% + 1rem + 1.2em);
    padding-left: 1.2em;
    padding-right: calc(1rem + 1.2em); }
    .ribbon.right::after {
      left: auto;
      right: 0;
      border-style: solid;
      border-width: 1.2em 1.2em 0 0;
      border-color: transparent;
      border-top-color: inherit; }

.mt-card .table td, .mt-card .table th {
  vertical-align: middle; }

.btn-view {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #fff;
  border: 0;
  background: #6200ea;
  -webkit-appearance: initial !important;
  box-shadow: 2px 2px 4px 0px #d4d4d5;
  height: 30px;
  width: 70px;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: bold;
  transition: all 0.4s ease-in-out 0s; }
  .btn-view:hover, .btn-view:focus {
    color: #FF8300; }

.success {
  color: #5cb85c; }

.normal {
  color: #6200ea; }

.danger {
  color: #d9534f; }

.btn-remove {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #fff;
  border: 0;
  background: #FF8300;
  -webkit-appearance: initial !important;
  box-shadow: 2px 2px 4px 0px #d4d4d5;
  height: 30px;
  width: 70px;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: bold;
  transition: all 0.4s ease-in-out 0s; }
  .btn-remove:hover, .btn-remove:focus {
    color: #6200ea; }

input.input-primary {
  border-radius: 0;
  border: 1px solid rgba(93, 93, 93, 0.3);
  padding: 5px; }
  input.input-primary:focus {
    outline: none; }

button.btn {
  border-radius: 0;
  transition: all 0.4s ease-in-out 0s; }

.btn-pending {
  background-color: #FF8300;
  color: #fff; }
  .btn-pending:hover {
    background-color: #da7912; }

.btn-groups {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 0;
  vertical-align: baseline;
  margin: 0 .25em 0 0; }
  .btn-groups::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .btn-groups .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    border-radius: 0;
    margin: 0;
    box-shadow: 2px 2px 4px 0px #d4d4d5;
    font-weight: bold; }
  .btn-groups .or {
    position: relative;
    width: .3em;
    height: 2.57142857em;
    z-index: 3;
    font-size: 1rem; }
    .btn-groups .or::before {
      position: absolute;
      text-align: center;
      border-radius: 500rem;
      content: 'or';
      top: 50%;
      left: 50%;
      background-color: #fff;
      text-shadow: none;
      margin-top: -.89285714em;
      margin-left: -.89285714em;
      width: 1.78571429em;
      height: 1.78571429em;
      line-height: 1.78571429em;
      color: rgba(0, 0, 0, 0.4);
      font-style: normal;
      font-weight: 700;
      box-shadow: 0 0 0 1px transparent inset; }

.display-block {
  display: block;
  widows: 100%;
  position: relative; }

.list .item-group {
  padding: 8px 0px; }
  .list .item-group i.icon {
    margin-right: 8px; }

.list .item-group:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.ribbon.ribbon-inline {
  position: absolute;
  right: -1.2em;
  left: inherit;
  z-index: 8;
  -webkit-transform: inherit;
  transform: inherit; }
